body{
  background-image: url(../img/Zoom-background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 500px) {
    body {
      background-image: url(../img/Fondopantalla.png);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }
}

.btn{
  background-color:#FF6400;
}

.btn:hover{
  background-color:#ff9c33;
  border: none;
}